.top-bar {
  font-size: 40px;
  padding: 10px;
}

.system-container {
  padding: 10px;
}

.diagram-container {
  width: 100%;
  height: 800px;
}

.stencil-app {
  display: flex;
  padding: 0;
  font-family: sans-serif;
}

.stencil-app .app-stencil {
  position: relative;
  width: 200px;
  border: 1px solid #f0f0f0;
}

.stencil-app .app-content {
  flex: 1;
  height: 800px;
  margin-right: 8px;
  margin-left: 8px;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.toolbar {
  padding: 5px 0;
}

.toolbar .x6-toolbar-item {
  margin: 0 10px;
}

.mem-bar {
  width: 100%;
  height: 60px;
  background-color: rgb(166, 163, 163);
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.mem-bar .allocated-mr {
  height: 100%;
  background-color: greenyellow;
  position: absolute;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

.mem-bar .free-mr {
  /* background-color: white;
  background-image:
    linear-gradient(45deg, black 25%, transparent 0),
    linear-gradient(-45deg, black 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, black 0),
    linear-gradient(-45deg, transparent 75%, black 0);
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  background-size: 20px 20px; */

  /* background-image:
    radial-gradient(circle, rgb(203 213 225) 2px, #fff 2px);
  background-size: 4px 4px;
  background-position: center center; */

  user-select: none;
  background-color: gray;
  font-size: 10px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  height: 100%;
}

.selected-mr {
  overflow: hidden;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  opacity: 0.8;
}

.selected-mr::before {
  content: '';
  background-color: gray;
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}

.selected-mr::after {
  content: '';
  background-color: gray;
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}

.unallocated-mr {
  height: 100%;
  position: absolute;
  background-image:
    radial-gradient(circle, gray 1px, #eee 1px);
  background-size: 4px 4px;
  background-position: center center;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

.mapping-editor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  background-color: gray;
}